@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;

  padding: 0;
  margin: 0;
}

html.scrollOff {
  overflow: hidden;
}

:root {
  --background: #DEDEDE;
  --foreground: #171717;
  --accent3: #CD9C73;
  --accent: #930F00;
  --accent2: #490600;
  --accent2opaque: #490600EE;
  --accent3: #CD9C73;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #DEDEDE;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  
  font-family: "Inter", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
